.tool--active {
	background-color: var(--main-primary-background);
	color: var(--main-select-font-color);
}

.bubble-menu_wrap {
	display: flex;
	border-radius: 3px;
	background-color: var(--main-white-color);
	padding: 2px 5px;
	box-shadow: 0 0 3px var(--main-primary-shadow-color);
}

.editor-tools {
	display: flex;
	align-items: center;
	gap: 4px;
	flex-shrink: 0;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 5px 10px;
	position: relative;
	&::before {
		bottom: 0;
		background-color: var(--main-primary-border-color);
		content: "";
		height: 1px;
		left: 0;
		margin: 0 10px;
		right: 0;
		position: absolute;
	}
}
.tools__button {
	border: 1px solid transparent;
	box-sizing: border-box;
	border-radius: 5px;
	color: var(--main-icon-color);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	width: 35px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: "middle";
	&:hover {
		background: var(--main-primary-background);
	}
}
.editor {
	height: 100%;
	border: 1px solid var(--main-primary-border-color);
	overflow: hidden;
	&:focus-within {
		border: 1px solid var(--main-select-font-color);
	}

	// 查找替换文本颜色
	.search-highlight {
		background-color: #fef08a;
	}
	.search-highlight.current {
		background-color: #fde047;
	}
	.tiptap .ProseMirror .selection,
	.tiptap .ProseMirror *::selection,
	::selection {
		background: var(--main-primary-border-color);
	}
	.tiptap {
		max-width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		height: calc(100% - 64px);
		padding: 10px;
		line-height: 1.25;
		color: var(--main-font-color);
		font-family: "Microsoft YaHei";
		position: relative;
		z-index: 100;
		font-size: 14px;
		// 下划线
		.x-underline {
			border-bottom: 2px solid red;
			text-decoration: none;
		}
		ul,
		ol {
			list-style: none;
			margin-bottom: 0;
			margin-left: 24px;
			margin-top: 0;
			padding-bottom: 5px;
			padding-left: 0;
			padding-top: 5px;
		}

		li > p {
			margin: 0;
			&:first-child::before {
				display: inline-block;
				left: -5px;
				line-height: 1;
				margin-left: -24px;
				position: relative;
				text-align: right;
				top: 0;
				width: 24px;
			}
		}

		// 无序列表
		ul[data-bullet-style="disc"] {
			list-style-type: disc;
		}

		ul[data-bullet-style="circle"] {
			list-style-type: circle;
		}

		ul[data-bullet-style="square"] {
			list-style-type: square;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			line-height: 1.25;
		}

		h1 {
			font-size: 24px;
		}
		h2 {
			font-size: 22px;
		}
		h3 {
			font-size: 18px;
		}
		h4 {
			font-size: 16px;
		}

		pre {
			color: var(--main-white-color);
			font-family: "JetBrainsMono", monospace;
			.hljs-comment,
			.hljs-quote {
				color: var(--code-hljs-color);
			}
			code {
				background-color: rgba(var(--code-hljs-color), 0.1);
			}
			.hljs-variable,
			.hljs-template-variable,
			.hljs-attribute,
			.hljs-tag,
			.hljs-name,
			.hljs-regexp,
			.hljs-link,
			.hljs-name,
			.hljs-selector-id,
			.hljs-selector-class {
				color: var(--code-hljs-selector-color);
			}

			.hljs-number,
			.hljs-meta,
			.hljs-built_in,
			.hljs-builtin-name,
			.hljs-literal,
			.hljs-type,
			.hljs-params {
				color: var(--code-hljs-params-color);
			}

			.hljs-string,
			.hljs-symbol,
			.hljs-bullet {
				color: var(--code-hljs-bullet-color);
			}

			.hljs-title,
			.hljs-section {
				color: var(--code-hljs-section-color);
			}

			.hljs-keyword,
			.hljs-selector-tag {
				color: var(--code-hljs-tag-color);
			}

			.hljs-emphasis {
				font-style: italic;
			}

			.hljs-strong {
				font-weight: 700;
			}
		}

		sup {
			font-size: 0.75em;
			vertical-align: super;
			line-height: 1;
			letter-spacing: 0.5px;
		}

		sub {
			font-size: 0.75em;
			vertical-align: sub;
			line-height: 1;
			letter-spacing: 0.5px;
		}
		.x-paragraph {
			padding-bottom: 3px;
			min-height: 20px;
		}
		img {
			line-height: 1.25;
			max-width: 100%;
			height: auto;
		}

		blockquote {
			padding-left: 16px;
			border-left: 4px solid var(--main-border-quote);
			border-radius: 2px;
			margin: 10px 0;
		}

		hr {
			border: none;
			border-top: 1px solid var(--main-primary-border-color);
			margin: 2rem 0;
		}

		a {
			color: var(--code-a-color);
			text-decoration: underline;
		}
		// .tableWrapper {
		// 	overflow-x: auto;
		// }
		table {
			border-collapse: collapse;
			table-layout: fixed;
			width: 100%;
			margin: 0;
			overflow: hidden;

			td,
			th {
				min-width: 1em;
				border: 1px solid var(--code-border-th);
				padding: 10px;
				vertical-align: top;
				box-sizing: border-box;
				position: relative;
				> * {
					margin-bottom: 0;
				}
			}

			th {
				font-weight: bold;
				text-align: left;
				background-color: var(--code-th-background);
			}

			.selectedCell:after {
				z-index: 2;
				position: absolute;
				content: "";
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: var(--main-primary-background);
				pointer-events: none;
			}

			.column-resize-handle {
				position: absolute;
				right: -2px;
				top: 0;
				bottom: -2px;
				width: 4px;
				background-color: var(--main-select-font-color);
				pointer-events: none;
			}
		}

		@for $i from 1 through 7 {
			$indent-margin-base: 30px;

			*[data-indent="#{$i}"] {
				margin-left: $indent-margin-base * $i !important;
			}
		}

		.image-view {
			$root: &;
			display: inline-block;
			float: none;
			line-height: 0;
			margin: 12px 0;
			max-width: 100%;
			user-select: none;
			vertical-align: baseline;

			&--inline {
				margin-left: 12px;
				margin-right: 12px;
			}

			&--block {
				display: block;
			}

			&--left {
				float: left;
				margin-left: 0;
				margin-right: 12px;
			}

			&--right {
				float: right;
				margin-left: 12px;
				margin-right: 0;
			}

			&__body {
				clear: both;
				display: inline-block;
				max-width: 100%;
				outline-color: transparent;
				outline-style: solid;
				outline-width: 2px;
				transition: all 0.2s ease-in;
				position: relative;

				&:hover {
					outline-color: var(--main-select-font-color);
				}

				&--focused:hover,
				&--resizing:hover {
					outline-color: transparent;
				}

				&__placeholder {
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: -1;
				}

				&__image {
					cursor: pointer;
					margin: 0;
				}
			}
		}
	}

	.tiptap__brush {
		cursor:
			url("brush.png") 16 16,
			auto;
	}

	.inline-code {
		background-color: var(--code-hljs-color);
		border-radius: 0.4rem;
		font-size: 0.85rem;
		padding: 0.25em 0.3em;
	}

	mark {
		background-color: var(--code-mark-background);
		box-decoration-break: clone;
	}

	// 有序列表
	ol[data-ordered-style="chinese"] {
		counter-reset: list;
		li > p {
			counter-increment: list; /* 为每个 li 元素递增计数器 */
			&::before {
				content: counter(list, cjk-ideographic) "、";
				font-weight: bold;
				white-space: nowrap;
			}
		}
	}
	ol[data-ordered-style="decimal"] {
		list-style: decimal;
		li > p {
			&::before {
				content: "";
			}
		}
	}
	ol[data-ordered-style="circle"] {
		list-style-type: none;
		counter-reset: circle;
		li {
			counter-increment: circle;
			& > p {
				&::before {
					color: var(--main-font-color);
					width: 15px !important;
					height: 15px;
					content: counter(circle);
					white-space: nowrap;
					border: 1px solid var(--main-font-color);
					border-radius: 50%;
					text-align: center !important;
					font-size: 15px;
				}
			}
		}
	}
	ol[data-ordered-style="lower-alpha"] {
		list-style-type: lower-alpha;
		li > p {
			&::before {
				content: "";
			}
		}
	}
	ol[data-ordered-style="letter"] {
		counter-reset: letter;
		list-style-type: none;
		li {
			counter-increment: letter;
			& > p {
				&::before {
					content: counter(letter, upper-alpha) ".";
				}
			}
		}
	}
	ol[data-ordered-style="roman"] {
		list-style-type: none;
		counter-reset: roman-counter;
		li {
			counter-increment: roman-counter;
			& > p {
				&::before {
					content: counter(roman-counter, lower-roman) ". ";
					left: -5px;
					line-height: 1;
					margin-left: -24px;
					position: relative;
					text-align: right;
					top: 0;
					width: 24px;
					border: none;
				}
			}
		}
	}

	.resize-cursor {
		cursor: ew-resize;
		cursor: col-resize;
	}
}

textarea {
	width: 100%;
	height: 80px;
	resize: none;
}
